.about {
    background-color:#252525;
    padding-bottom: 50px;
    h2{
        text-align: center;
        
    }
}


.about-content {
    display: grid;
    grid-template-rows: 3fr;
    grid-gap: 25px;
}


.item1 {
    grid-row: 1;
    grid-column: 1/4;
}

.item2 {
    grid-row: 2;
    grid-column: 1/3;
}

.item3 {
    grid-row: 2;
    grid-column: 3/3;
}

.about-content__photo {
    img {
        width: 100%;
    }
}