.contacts {
    height: 100%;

    h2 {
        text-align: center;
        padding-top: 30px;
        width: 100%;
    }

}

.contacts-wrap {
    display: flex;
    width: 100%;
    min-height: 700px;
    margin-bottom: 50px;
}

.map {
    width: 50%;
    padding: 15px;
    height: 600px;
    font-size: 28px;
}

.form-wrap {
    width: 50%;
    padding: 15px;
}

.form {
    span {
        text-align: center;
    }

    margin-top: 95px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    input,
    select {
        width: 100%;
        padding: 15px;
        margin: 15px 0;
        background-color: rgb(58, 57, 57);
        border: none;
        color: #ffffff;

        &::placeholder {
            color: #ffffff;
        }
    }


    button {
        width: 100%;
        padding: 15px;
        margin: 15px 0;
        border: none;
        background-color: rgb(49, 49, 49);
        color: #ffffff;
        cursor: pointer;

        &:hover {
            background-color: #131313;
        }
    }

}

.contact {
    div {
        margin: 10px;
        font-size: 28px;
        a {
            text-decoration: none;
            color: #ffffff;

            &:hover {
                color: #aaaaaa;
            }
        }
    }
}