.content {
    height: 100vh;
    text-align: center;
    padding-top: 250px;
    background-image: url(../images/body-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 126px;

    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    letter-spacing: .2em;
    text-shadow: 2px 2px 5px #0829e7;
}