@media (min-width: 1024px) and (max-width: 1270px) {
    body {
        font-size: 26px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 22px;

        h2 {
            font-size: 44px;
        }

    }

    .header-menu {
        display: none;
    }


    .nav-container {
        display: block;
        height: 50px;
        width: 50px;
        z-index: 1250;
    }

    .burger-icon {
        display: flex;

    }

    .content {
        h1 {
            font-size: 96px;
        }
    }

    .direction {

        .direction-text {
            font-size: 26px;
        }



        .direction-content {
            display: flex;
            flex-wrap: wrap;


        }

        .direction-item {
            font-size: 24px;
            margin-bottom: 30px;
            width: 40%;
            height: 450px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

    .mobile-menu {
        display: block;
        position: absolute;
        background-color: #181818;
        padding: 350px 15px 20px 15px;
        width: 120%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -100;


        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .pushed {
        display: none;
    }

    .item1 {
        grid-row: 1;
        grid-column: 3/3;
    }
    
    .item2 {
        grid-row: 1;
        grid-column: 1/3;
    }
    
    .item3 {
        grid-row: 3;
        grid-column: 1/4;
    }

}

@media (min-width: 425px) and (max-width: 767px) {
    body {
        font-size: 22px;

        h2 {
            font-size: 44px;
        }

    }

    section {
        padding-top: 40px;
    }

    .container {
        padding: 0 25px;
    }

    .contacts-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .map {
        width: 100%;
    }

    .form-wrap {
        width: 100%;
    }

    .header-menu {
        display: none;
    }


    .nav-container {
        display: block;
        height: 50px;
        width: 50px;
        z-index: 1250;
    }

    .burger-icon {
        display: flex;

    }

    .content {
        h1 {
            font-size: 78px;
        }
    }

    .direction {

        .direction-text {
            font-size: 26px;
        }



        .direction-content {
            display: flex;
            flex-wrap: wrap;


        }

        .direction-item {
            font-size: 24px;
            margin-bottom: 30px;
            width: 40%;
            height: 450px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

    .mobile-menu {
        display: block;
        position: absolute;
        background-color: #181818;
        padding: 350px 15px 20px 15px;
        width: 120%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -100;


        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .pushed {
        display: none;
    }

    .item1 {
        grid-row: 1;
        grid-column: 1/4;
    }
    
    .item2 {
        grid-row: 2;
        grid-column: 1/4;
    }
    
    .item3 {
        grid-row: 3;
        grid-column: 1/4;
    }

}


@media (min-width: 300px) and (max-width: 424px) {
    body {
        font-size: 16px;

        h2 {
            font-size: 30px;
        }

    }
    section {
        padding-top: 35px;
    }

    .container {
        padding: 0 15px;
    }

    .contacts-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .map {
        width: 100%;
        height: 350px;
        margin-bottom: 50px;
    }

    .form-wrap {
        width: 100%;
    }

    .header-menu {
        display: none;
    }


    .nav-container {
        display: block;
        height: 50px;
        width: 50px;
        z-index: 1250;
    }

    .burger-icon {
        display: flex;

    }

    .content {
        h1 {
            font-size: 78px;
        }
    }

    .direction {

        .direction-text {
            font-size: 22px;
        }



        .direction-content {
            display: flex;
            flex-wrap: wrap;


        }

        .direction-item {
            font-size: 24px;
            margin-bottom: 30px;
            width: 100%;
            height: 450px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

    .mobile-menu {
        display: block;
        position: absolute;
        background-color: #181818;
        padding: 350px 15px 20px 15px;
        width: 120%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -100;


        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .pushed {
        display: none;
    }

    .item1 {
        grid-row: 1;
        grid-column: 1/4;
    }
    
    .item2 {
        grid-row: 2;
        grid-column: 1/4;
    }
    
    .item3 {
        grid-row: 3;
        grid-column: 1/4;
    }

}
