* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}

body {
    background-color: rgb(99, 99, 99);
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
}

h2 {
    font-size: 52px;
    padding-top: 50px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;

}

section {
    padding-top: 50px;
}










@import '_header.scss';
@import '_content.scss';
@import '_about.scss';
@import '_direction.scss';
@import '_contacts.scss';
@import '_footer.scss';
@import '_media.scss';